{% extends 'base.html' %}

{% block content %}
<form class="p-3" method="POST">
    <div class="text-center" id="Header">
        <img id="Title-Image" src="/static/ExForce_Series_header.webp">
    </div>
    {{ form.hidden_tag() }}

    <div class="form-group">
        <fieldset>
            {{ form.username.label }}
            {{ form.username(class='form-control', placeholder='Username...') }}
        </fieldset>
    </div>
    <div class="form-group">
        <fieldset>
            {{ form.password.label }}
            {{ form.password(class='form-control', placeholder='Password...') }}
        </fieldset>
    </div>
    {{ form.submit(class='btn btn-block btn-info') }}
</form>
{% endblock content %}