<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" 
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="static/copy.js" defer></script>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    {% include 'components/navbar.html' %}

        <div class="container text-center">
            <h4 class="mt-4 mb-3">Welcome to the <i>Expeditionary Force API</i>!</h4>
            <h6>This API is completely and entirely fan made. It has absolutely no relation to Craig Alanson or any other official party.</h6>
            <h4 class="mt-4 mb-3">So, how does this work?</h4>
            <h6>This API works by webscraping from the Expeditionary Force Wiki in order to create easily accessible information for all things <i>Expeditionary Force</i>
            A quick overview is that it works by using Beautiful Soup to webscrape information from the wiki to put into an external database. From there, using a Flask framework, I access that information
            and create routes that allow access via the web.</h6>
            <h4 class="mt-4 mb-3">Does this API hold all the information from the wiki?</h4>
            <h6>Unfortunately, no it does not. This API was made to gather well known information, information of people/places/species that are important to the story,
                and information that was easy to get hold of and organize. Say you were looking for plot points, niche planets, or quotes, you would not find them here... <i>yet.</i>
            </h6>
            <h4 class="mt-4 mb-3">Am I free to use anything here that I want?</h4>
            <h6>Yes! Most definitely. I highly encourage you to do just that. Like I stated up above, this does not hold everything, but I hope for it to hold everything at one point.</h6>
            <h4 class="mt-4 mb-3">Link to the wiki:</h4>
            <h6>https://expeditionary-force-by-craig-alanson.fandom.com/wiki/Expeditionary_Force_by_Craig_Alanson_Wiki</h6>


        </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>
</body>